{% extends '/App/templates/main.html' %}

{% block content %}
    <div class="row" style="padding-top: 10px; text-align: center">
        <div class="thumbnail">
            <div class="caption">
                <h2>{{ article.title }}</h2>
                <h5>Рубрика: {{ article.heading.heading }}</h5>
            </div>
            <div>
                {{ article.content }}
            </div>
            <div style="font-size: 15px">
                {% if article.author %}
                    Автор статьи: {{ article.author.login }}
                {% endif %}
            </div>
            <div style="font-size: 15px">
                Дата публикации: {{ article.created_at|date(fromat, timezon) }}
            </div>
        </div>
    </div>


    <!-- AllOfRecord -->
    Комментарии: <br>
    {% for comment in comments %}
        <div style="border: 1px; color: black">
            <div>
                {{ comment.comment }}
            </div>
            <div style="font-size: 15px">
                Автор: {{ comment.author.login }}
            </div>
            <h12 style="font-size: 15px">
                Дата публикации: {{ comment.creates_at | date('Y-m-d H:i:s') }}
            </h12>
        </div>
        <hr>
    {% endfor %}

    {% if user %}
        <form action="/comment/add" method="post"> <!-- /?controller=article&moduleName=articles -->
            <input type="hidden" name="moduleName" value="articles">
            <input type="hidden" name="controller" value="article">
            Добавить комментарий <br>
            <textarea name="comment" cols="20" rows="1"></textarea>
            <br>
            <button type="submit" name="recordId" value="{{ article.id }}">
                отправить
            </button>
        </form>
    {% else %}
        Комментарии могут оставлять только авторизованные пользователи.
    {% endif %}
{%  endblock %}