{% extends '/App/templates/main.html' %}

{% block content %}
    {% if errors %}
        {% for error in errors %}
    {{ error.getMessage }} <br>
        {% endfor %}
    {% endif %}

    <h1> Страница регистрации </h1>
    <form action = "/user/registration" method = "post">
        <p> введите Логин:
            <input type = "text" name = "login" value="{{ login }}">
        </p>
        <p> введите Пароль:
            <input type = "password" name = "password" value="{{ password }}">
        </p>
        <p>
            <button type="submit"> Зарегистрироваться </button>
        </p>
    </form>
{% endblock %}